<!DOCTYPE html>
<html lang="en">
    <head>
      <% include stylesheet.ejs %>
      <meta charset="utf-8">
      <title><%= title %></title>  
    </head>
    <body>
    <h1><%= header %> </h1>

<form action="/send" method="POST">
  <input type="text" length="140" name="tweet">
  <input type="submit" value="Tweet">
</form>

     <% include chirp.ejs %>


<h2>app.js source</h2>
<pre><code>
var express = require("express");
var sys = require("sys");

var app = express()

app.listen(8080)

sys.puts("Server listen on port:8080")

//tell to render layout with ejs
app.set('view engine', 'ejs');

app.use(express.static(__dirname + '/public'));

var tweets = []

app.get('/', function(request, response){

        var title = 'Express - Web Application framework for node | EJS - Embedded JavaScript renderer for node',
            header = 'Welcome to Express';

            response.render('layout', {
                  locals: {
                      'title': title,
                      'header': header,
                      'tweets': tweets,
                      'stylesheet': ['/style.css']
                  } 
            })
})

app.get('/tweets', function(request, response){
 
       response.send( tweets )
})

app.post('/send', express.bodyParser(), function(request, response){

        if(request.body && request.body.tweet) {

          tweets.push(request.body.tweet)  

           if(acceptsHTML(request.headers['accept']) ) {

             response.redirect("/", 303)

           } else {

             response.send({"status":"Ok","message": "Tweet received"})  
           }

        } else {

          response.send({"status":"nok","message": "No Tweet received"})  
        }
 
})


function acceptsHTML( header ) {

    var accepts = header.split(',')

    for(var i = 0,j = accepts.length; i < j; i++) {

        if(accepts[i] == 'text/html') return true;
    } 

  return false;
}
</code></pre>
   
    </body>
</html>